* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, rgba(0, 85, 255, 0.51), rgb(12, 53, 240), rgba(246, 255, 254, 0.5), rgb(58, 77, 253));
    color:black;
    font-family: 'Poppins', sans-serif;';
min-height: 80vh;
}

header {
    font-size: 1.25rem;
    color: #00ff77;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #00ff77;
    color: black;
    font-weight: bold;
    width: 100vw;

}

hr {
    width: 80%;
    background-color: slategray;
    border: none;
    padding: .01rem;
    margin: auto;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border-bottom:black 2px solid;
    background: #eeeeff;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: #eeeeff;
    color: #3D4FFBFF;
    font-size:1.5rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #3D4FFBFF;
    color:white;
    border: 1px solid;
    border-radius: 10px;
    padding: .5rem;
    width: 2.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.trash-btn {
    background: #ff6b6b;
}

.todo-item {
    /*padding: 0rem 0.5rem;*/
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    box-shadow: none;
    border: none;
}

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select {
    color: #3D4FFBFF;
    width: 10rem;
    cursor: pointer;
    padding: .5rem;
}

.select:after {
    content: "\25BC";
    position: absolute;
    color: white;
    background: #3D4FFBFF;
    top: 0;
    right: 0;
    padding: .5rem;
    pointer-event: none;
    transition: 0.3s ease;
}

.select:hover::after {
    color: white;
    background: #00ff77;
}